#include "windows.h"
#include "message.h"

SimpleIcon ICON msc.ico

SimpleMenu MENU

BEGIN
   POPUP "Line"
     BEGIN
       MENUITEM   "Exit",          MSG_EXIT
       MENUITEM   "On Line",       MSG_ONLINE
       MENUITEM   "Off Line",      MSG_OFFLINE
     END
   POPUP "Port"
     BEGIN
       MENUITEM  "COM1",      MSG_COM1
       MENUITEM  "COM2",      MSG_COM2
       MENUITEM  "COM3",      MSG_COM3
       MENUITEM  "COM4",      MSG_COM4
     END
   POPUP "Baud"
     BEGIN
       MENUITEM  "300",       MSG_300
       MENUITEM  "1200",      MSG_1200
       MENUITEM  "2400",      MSG_2400
       MENUITEM  "4800",      MSG_4800
       MENUITEM  "9600",      MSG_9600
       MENUITEM  "19200",     MSG_19200
       MENUITEM  "38400",     MSG_38400
       MENUITEM  "57600",     MSG_57600
#ifdef WIN32
       MENUITEM  "115200",    MSG_115200
#endif
     END
END

AboutBox DIALOG 22, 17, 144, 75
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "About SIMPLE"
BEGIN
    CTEXT "SIMPLE Version 4.1"     -1,       0,  5, 144,  8
    CTEXT "  By MarshallSoft "     -1,       0, 20, 144,  8
    CTEXT "  Computing, Inc. "     -1,       0, 30, 144,  8
    DEFPUSHBUTTON "OK"          IDOK,      53, 59,  32, 14,      WS_GROUP
END
